<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team1.deal.mapper.ContractMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="team1.deal.model.po.ContractPO">
        <id column="transactionContractNumber" property="transactionContractNumber" />
        <result column="signDate" property="signDate" />
        <result column="dId" property="dId" />
        <result column="qId" property="qId" />
        <result column="price" property="price" />
        <result column="amount" property="amount" />
        <result column="status" property="status" />
        <result column="url" property="url" />
    </resultMap>

</mapper>
